.bsp/
.scala-build/
*.class
*.tasty
*.jar
META-INF/
lib/
.bin/

# ignore backups and other
*.old
*.ignore
*.bak
*.old/






# macOS
.DS_Store

# sbt specific
.sbt/
dist/*
target/
lib_managed/
src_managed/
project/
.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt

# Bloop
.bsp

# VS Code
.vscode/

# Metals
.bloop/
.metals/
metals.sbt

# IDEA
.idea
.idea_modules
/.worksheet/

